<script type="text/javascript">
  RED.nodes.registerType('accellion.sanitize.sasa', {
    category: 'Accellion Custom',
    color: '#fce5bb',
    labelStyle: '',
    defaults: {
      name: {value: ""},
      sourceToken: {value:"", type:"token", required: true},
      sourceFolder: {value: "", required: true},
      destinationToken: {value:"", type:"token", required: true},
      destinationFolder: {value: "", required: true},
      tempFolder: {value: "", required: true},
      failureLogFolder: {value: "", required: true},
      sasaUrl: {value: "", required: true},
      sasaKey: {value: "", required: true},
      sasaProfileId: {value: "", required: true},
      sanitizePollInterval: {value: 3000, required: true},
      maxSanitizePollAttempts: {value: 20, required: true},
      sanitizePool: {value: 10, required: true},
      apiPool: {value: 10, required: true},
      clearCache: {value: false, required: true},
      ignoreDestinationCache: {value: false, required: true},
    },
    inputs: 1,
    outputs: 1,
    icon: "accellion_custom.png",
    paletteLabel: "sasa sanitizer",
    label: function() {return this.name || "sasa sanitizer";}
  });
</script>
<script type="text/x-red" data-template-name="accellion.sanitize.sasa">
  <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <h5>ACCELLION SOURCE</h5>
    <div class="form-row">
      <label for="node-input-sourceToken">Token</label>
      <input type="text" id="node-input-sourceToken" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sourceFolder">Folder</label>
        <input type="text" id="node-input-sourceFolder" placeholder="">
    </div>
    <h5>ACCELLION DESTINATION</h5>
    <div class="form-row">
      <label for="node-input-destinationToken">Token</label>
      <input type="text" id="node-input-destinationToken" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-destinationFolder">Folder</label>
        <input type="text" id="node-input-destinationFolder" placeholder="">
    </div>
    <h5>ACCELLION SETTINGS</h5>
    <div class="form-row">
        <label for="node-input-failureLogFolder">Failure Log Folder</label>
        <input type="text" id="node-input-failureLogFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-apiPool">Max API Threads</label>
        <input type="number" id="node-input-apiPool" placeholder="">
    </div>
    <div class="form-row">
      <label for="node-input-clearCache" style="width: 200px;">Clear Cache</label>
      <input type="checkbox" id="node-input-clearCache"  style="width: 30px;">
    </div>
    <div class="form-row">
      <label for="node-input-ignoreDestinationCache" style="width: 200px;">Ignore Destination Cache</label>
      <input type="checkbox" id="node-input-ignoreDestinationCache"  style="width: 30px;">
    </div>
    <h5>SASA SETTINGS</h5>
    <div class="form-row">
        <label for="node-input-sasaUrl">Sasa API URL</label>
        <input type="text" id="node-input-sasaUrl" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sasaProfileId">Sasa Profile ID</label>
        <input type="number" id="node-input-sasaProfileId" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sasaKey">Sasa API Key</label>
        <input type="text" id="node-input-sasaKey" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-tempFolder">Temp Folder</label>
        <input type="text" id="node-input-tempFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sanitizePollInterval">Poll Interval (ms)</label>
        <input type="number" id="node-input-sanitizePollInterval" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-maxSanitizePollAttempts">Max Poll Attempts</label>
        <input type="number" id="node-input-maxSanitizePollAttempts" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sanitizePool">Max Sanitize Threads</label>
        <input type="number" id="node-input-sanitizePool" placeholder="">
    </div>
</script>

<script type="text/x-red" data-help-name="accellion.sanitize.sasa">
  <h5>Sasa sanitization node</h5>
    <p>
      This node will download all files from the specified folder in the Accellion source storage,
      sanitize them thrugh Sasa using the specified URL and then upload them back to the
      Accellion destination storage.<br>
      After the files are on the destination, they will be removed from the source.
    </p>

    <h5>Inputs</h5>
    <dl class="message-properties">
     None
    </dl>

    <h5>Outputs</h5>
    <ol class="node-ports">
        <li>Standard output
            <dl class="message-properties">
                <dt>msg.files <span class="property-type">object array</span></dt>
            </dl>
        </li>
    </ol>

</script>
