<script type="text/javascript">
  RED.nodes.registerType('accellion.sanitize.template', {
    category: 'Accellion Custom',
    color: '#d9961b',
    labelStyle: '',
    defaults: {
      name: {value: ""},
      sourceToken: {value:"", type:"token", required: true},
      sourceFolder: {value: "", required: true},
      destinationToken: {value:"", type:"token", required: true},
      destinationFolder: {value: "", required: true},
      tempFolder: {value: "", required: true},
      failureLogFolder: {value: "", required: true},
      templateUrl: {value: "", required: true},
      templateKey: {value: "", required: true},
      templateProfileId: {value: "", required: true},
      sanitizePollInterval: {value: 3000, required: true},
      maxSanitizePollAttempts: {value: 20, required: true},
      sanitizePool: {value: 10, required: true},
      apiPool: {value: 10, required: true},
      clearCache: {value: false, required: true},
      ignoreDestinationCache: {value: false, required: true},
    },
    inputs: 1,
    outputs: 1,
    icon: "accellion_custom.png",
    paletteLabel: "template sanitizer",
    label: function() {return this.name || "template sanitizer";}
  });
</script>
<script type="text/x-red" data-template-name="accellion.sanitize.template">
  <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <h5>ACCELLION SOURCE</h5>
    <div class="form-row">
      <label for="node-input-sourceToken">Token</label>
      <input type="text" id="node-input-sourceToken" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sourceFolder">Folder</label>
        <input type="text" id="node-input-sourceFolder" placeholder="">
    </div>
    <h5>ACCELLION DESTINATION</h5>
    <div class="form-row">
      <label for="node-input-destinationToken">Token</label>
      <input type="text" id="node-input-destinationToken" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-destinationFolder">Folder</label>
        <input type="text" id="node-input-destinationFolder" placeholder="">
    </div>
    <h5>ACCELLION SETTINGS</h5>
    <div class="form-row">
        <label for="node-input-failureLogFolder">Failure Log Folder</label>
        <input type="text" id="node-input-failureLogFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-apiPool">Max API Threads</label>
        <input type="number" id="node-input-apiPool" placeholder="">
    </div>
    <div class="form-row">
      <label for="node-input-clearCache" style="width: 200px;">Clear Cache</label>
      <input type="checkbox" id="node-input-clearCache"  style="width: 30px;">
    </div>
    <div class="form-row">
      <label for="node-input-ignoreDestinationCache" style="width: 200px;">Ignore Destination Cache</label>
      <input type="checkbox" id="node-input-ignoreDestinationCache"  style="width: 30px;">
    </div>
    <h5>TEMPLATE SETTINGS</h5>
    <div class="form-row">
        <label for="node-input-templateUrl">Template API URL</label>
        <input type="text" id="node-input-templateUrl" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-templateProfileId">Template Profile ID</label>
        <input type="number" id="node-input-templateProfileId" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-templateKey">Template API Key</label>
        <input type="text" id="node-input-templateKey" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-tempFolder">Temp Folder</label>
        <input type="text" id="node-input-tempFolder" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sanitizePollInterval">Poll Interval (ms)</label>
        <input type="number" id="node-input-sanitizePollInterval" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-maxSanitizePollAttempts">Max Poll Attempts</label>
        <input type="number" id="node-input-maxSanitizePollAttempts" placeholder="">
    </div>
    <div class="form-row">
        <label for="node-input-sanitizePool">Max Sanitize Threads</label>
        <input type="number" id="node-input-sanitizePool" placeholder="">
    </div>
</script>

<script type="text/x-red" data-help-name="accellion.sanitize.template">
  <h5>Template sanitization node</h5>
    <p>
      This node will download all files from the specified folder in the Accellion source storage,
      sanitize them through Template using the specified URL and then upload them back to the
      Accellion destination storage.<br>
      After the files are on the destination, they will be removed from the source.
    </p>

    <h5>Inputs</h5>
    <dl class="message-properties">
     None
    </dl>

    <h5>Outputs</h5>
    <ol class="node-ports">
        <li>Standard output
            <dl class="message-properties">
                <dt>msg.files <span class="property-type">object array</span></dt>
            </dl>
        </li>
    </ol>

</script>
